$grey: #494C6B;
$light-grey: #9495A5;
$white: #FFFFFF;
$almost-white: #FAFAFA;
$almost-white-border: #E3E4F1;
$more-light-grey: #D1D2DA;
$light-shadow: transparentize(#C2C3D6, 0.5);

$ash: #C8CBE7;
$dark-ash:#767992;
$dark-grey: #25273D;
$almost-black: #171823;
$dark-grey-border: #393A4B;
$more-dark-grey: #4D5067;
$dark-shadow: transparentize(#000000, 0.5);

$just-blue: #3A7CFD;

:root,
:root[data-theme="light"] {
  --header-color: #{$white};
  --text-color: #{$grey};
  --text-color-secondary: #{$light-grey};
  --text-color-muted: #{$more-light-grey};
  --background-color: #{$almost-white};
  --border-color: #{$almost-white-border};
  --card-bg-color: #{$white};
  --shadow-color: #{$light-shadow};
}

:root[data-theme="dark"] {
  --header-color: #{$white};
  --text-color: #{$ash};
  --text-color-secondary: #{$dark-ash};
  --text-color-muted: #{$more-dark-grey};
  --background-color: #{$almost-black};
  --border-color: #{$dark-grey-border};
  --card-bg-color: #{$dark-grey};
  --shadow-color: #{$dark-shadow};
}

$header-color: var(--header-color);
$text-color: var(--text-color);
$text-color-secondary: var(--text-color-secondary);
$text-color-muted: var(--text-color-muted);
$background-color: var(--background-color);
$border-color: var(--border-color);
$card-bg-color: var(--card-bg-color);
$shadow-color: var(--shadow-color);
