:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
:root[data-theme="light"] {
  .background-cover {
    &.light-cover {
      opacity: 1;
    }
    &.dark-cover {
      opacity: 0;
    }
  }
}

:root[data-theme="dark"] {
  .background-cover {
    &.light-cover {
      opacity: 0;
    }
    &.dark-cover {
      opacity: 1;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;
  color: $text-color;
  background-color: $background-color;
  @include transition($properties: (color, background-color));
}

#app {
  width: 100%;
  max-width: 540px;
  margin: 70px 20px;
}
